<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Post office results</title>
    <link href="/style.css" rel="stylesheet" type="text/css">
</head>
<body style="color:white;" class="backgroundColor">
    <h1>Results</h1>
    <p class="testClass">Total cost of your post is $<%= cost %></p>
    

    <button><a href="/">Restart</a></button>
</body>
</html>