<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Rock paper sissors results</title>
</head>
<body>
    <h1>Results</h1>
    <p>The player choice was: <%= player %></p>
    <p>The CPU choice was: <%= cpu %></p>
    <h2>The winner is: <%= winner %></h2>

    <button><a href="/">Play Again</a></button>
</body>
</html>